<a href="https://colab.research.google.com/github/szimri/Modul_1/blob/main/Python_Basics_Module_3_back_up.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This is a brief overview of basics concepts of Python programming

**Topics:**

1. Syntax, comments, operations
2. Workflow & Indentation
3. True, False
4. Conditions: IF, ELSE, ELIF
5. Variable Types 
6. Lists
7. Strings
8. Tuples
9. Dictionaries
10. DataFrames
11. Loops
12. Functions

Helpfull links:



*   https://www.datacamp.com/
*   https://stackoverflow.com/
*   https://www.w3schools.com/python/default.asp
*   https://pynative.com/python/
*   https://www.programiz.com/python-programming

# 1.&nbsp;Syntax

In [ ]:
# Comment

# This is a comment !

Function

In [ ]:
# this function called print()

print()

The *print()* function prints the specified message to the screen, or other standard output device.

The message can be a string, or any other object, the object will be converted into a string before written to the screen.

In [ ]:
# to display the string 'Hello world' use the function print()

# as Hello world is a string you have to add single or double quotations marks

print('Hello world')

Hello world

In [ ]:
# numbers

print(2)

2

In [ ]:
# operations / calculation

print(2+3)

5

In [ ]:
2+3

5

In [ ]:
2+4
print(2+3)
print(1*8)

5
8

In [ ]:
# string/text ==> quotation marks: single or double

print('This is a string')
print("This is a string")

This is a string
This is a string

In [ ]:
# variables

# to assign a value use the symbol =
# assign a numerical variables

x = 2
y = 3

print(x)
print(y)
print(x, y)

2
3
2 3

In [ ]:
# make operations with assigned variables

x+y

5

In [ ]:
# assign a 'text' value to a variable
# make operations with strings

string1='love'
string2='data'

print(string1)
print(string2)

# concatenate them
print(string1 + string2)

love
data
lovedata

In [ ]:
# add a space
print(string1 + ' ' + string2)

love data

# 2.&nbsp;Workflow & Indentation

Workflow is the series of activities that are necessary to complete a task

Indentation refers to the spaces at the beginning of a code line.

Where in other programming languages the indentation in code is for readability only, the indentation in Python is very important.

Python uses indentation to indicate a block of code. The standard Python indentation is 4 spaces, although tabs and any other space size will work, as long as it is consistent.

In [ ]:
# Python will give you an error if you skip the indentation:

a=5
b=2

'''
if a > b:
print("a is greater than b !")'''

'\nif a > b:\nprint("a is greater than b !")'

In [ ]:
# the correct way to use indentation
# ends with a colon (:)

a=5

b=2

if a > b:
  print("a is greater than b ! ")

a is greater than b !

# 3.&nbsp;True, False

In [ ]:
# Boolean True, False

# If a statement is correct then it will return True
# IF the statement is NOT correct , it will return False
# use == symbol

a=1
b=2
c=1

print(a==b)

False

In [ ]:
var_1 = 2
print(var_1)

2

In [ ]:
print(a==c)

True

# 4.&nbsp; Condition: IF, ELSE, ELIF

In [ ]:
# IF the statement is true then..do something

x = 1

if x > 0:
  print('x is grater then 0')

x is grater then 0

In [ ]:
x = -2

if x > 0:
  print('x is greater then 0')

In [ ]:
# IF the statement is true then..do something, ELSE otherwise do something else

x= -5

if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

x is less then 0

In [ ]:
x=0

if x>0:
  print('x is grater then 0')
else:
  print('x is less then 0')

x is less then 0

In [ ]:
x = 0

if x>0:
  print('x is grater then 0')
elif x==0:
  print('x is zqual to 0')
else:
  print('x is less then 0')

x is zqual to 0

## IF, ELIF, ELSE Practice ***

Write a code to return the evaluation of a variable called "grade". 
The grade has to be a numerical variable from 1 to 10.
>If the grade is below 5 return "You failed".

>If the grade is between 5 and 8 included return "You passed"

>If the grade is over 8 then return "You excelled"

Hint:


1.   create a variable called grade, and give it a randome value from 1 to 10
2.   Then imagine possible scenarios of what value that variable can get, to correctly use IF, ELIF, ELSE

grade = ???

if grade ??? 5:

____print(????)

elif grade ??? 5 and ????:

____print(????)

else:
____????

In order to better understand how to work with IF, ELIF, ELSE, please try to write by yourself the code for the following tasks.

If you don't figure out how to do it, or you just want to check if you got the right solution, just click the arrow next to "Display Solution" and click on "Run button" to execute the code

In [ ]:
grade = 10

if grade < 5:
  print('You failed')
elif grade >=5 and grade <=8:
  print('You passed')
else:
  print('You excelled')

You excelled

In [ ]:
#  return the evaluation of a variable called "grade". The grade has to be a numerical variable from 1 to 10.

# create a variable 'grade' and assign a random value from 1 to 10

# use IF, ELIF, ELSE statements

### If the grade is below 5 return "You failed".

### If the grade is between 5 and 8 included return "You passed"

##  If the grade is over 8 then return "You excelled"



# your code here ...

In [ ]:
#@title Display the solution 

#  return the evaluation of a variable called "grade". The grade has to be a numerical variable from 1 to 10.

# create a variable 'grade' and assign a random value from 1 to 10

grade = 8

if grade < 5:
  print('You failed')
elif grade >= 5 and grade <=8:
  print('You passed')
else:
  print('You excelled')

You passed

# 5.&nbsp;Variable types

## Integer

In [ ]:
# integer
age = 7
print(type(age))

<class 'int'>

##Float

In [ ]:
var_1 = '7.5'
var_1

'7.5'

In [ ]:
# float
age = 7.5
print(type(age))
print(age)

<class 'float'>
7.5

## String

In [ ]:
# str
name = "Jessica"
print(name)
print(type(name))

Jessica
<class 'str'>

In [ ]:
# Definition of pi_string
pi_string = "3.1415926"
print('the type of pi_string variable: ', type(pi_string))
print('the value of pi_string variable: ', pi_string)
print('')

the type of pi_string variable:  <class 'str'>
the value of pi_string variable:  3.1415926

In [ ]:
# convert string to float
pi_float= float(pi_string)
print('the type of pi_float variable: ', type(pi_float))
print('the value of pi_float variable: ', pi_float)
print('')

the type of pi_float variable:  <class 'float'>
the value of pi_float variable:  3.1415926

In [ ]:
# convert float to integer
pi_int= int(pi_float)
print('the type of pi_int variable: ', type(pi_int))
print('the value of pi_int variable: ', pi_int)
print('')

the type of pi_int variable:  <class 'int'>
the value of pi_int variable:  3

In [ ]:
var_float = round(3.6, 0)
int(var_float)

4

More about convertion of string and int
https://realpython.com/convert-python-string-to-int/

##Tuple

In [ ]:
# tuple
name_age = (name, age)
print(name_age)
print(type(name_age))

('Jessica', 7.5)
<class 'tuple'>

## Date

In [ ]:
# date
date = '2022-12-31' # separated by hyphens
print(date)
print(type(date))

2022-12-31
<class 'str'>

In [ ]:
# To manipulate dates in Python ...
# we need to import datetime package from datetime module ( very important !!! )

from datetime import datetime

In [ ]:
# to convert the string into a date object...

# with .strptime method  we tell Python how to read the string, by specifying which part is the year (%Y), month (%m), day (%d), 
# all separated by hyphen '%Y-%m-%d'

date = datetime.strptime(date, '%Y-%m-%d')

print(date)
print(type(date))

2022-12-31 00:00:00
<class 'datetime.datetime'>

In [ ]:
# if we want to omitt time (hous, minutes, seconds)

# to convert the string into a date object...

# with .strptime method  we tell Python how to read the string, by specifying which part is the year (%Y), month (%m), day (%d), 
# all separated by hyphen '%Y-%m-%d'

# we need to add .date() in the end, to tell python to convert it to date

date = '2022-12-31' # separated by hyphens

date = datetime.strptime(date, '%Y-%m-%d').date()

print(date)
print(type(date))

2022-12-31
<class 'datetime.date'>

In [ ]:
# to convert a string that have date + time (hours, minutes, seconds...)
# we need to tell python that the 1st bit of the string is the month, separated by a slash, 
# then day, 
# then year (with format %y, meaning 18 instead of 2018)
# the hours, (%H) separated by :
# then minutes, (%M) separated by :
# the seconds, (%S)

datetime_time = '09/19/18 13:55:26'

datetime_time = datetime.strptime(datetime_time, '%m/%d/%y %H:%M:%S')

print(type(datetime_time))
print(datetime_time)  # printed in default format

<class 'datetime.datetime'>
2018-09-19 13:55:26

In [ ]:
# Print the date in the format 'YYYY-MM'

# our datetime_time variable is already perceived as a date by Python...


print(datetime_time.strftime('%Y/%m'))

2018/09

In [ ]:
# if we want the month first and then the year
print(datetime_time.strftime('%m-%Y'))

09-2018

The date conversions can be helpfull, as when working with excels, often, Python reads the dates as a string.

So, you'll need to convert the strings that are supposed to be read as a date ....

In [ ]:
# ... But, Python allows you create a date from the start

# to do so, you need to import package date from datetime module

from datetime import date

anniversary_date = date(1992, 8, 24) # year, month, day
print(anniversary_date)
print(type(anniversary_date))

1992-08-24
<class 'datetime.date'>

More about date conversion
https://www.digitalocean.com/community/tutorials/python-string-to-datetime-strptime

More about dates https://www.w3schools.com/python/python_datetime.asp

More about date and time manipulation https://www.programiz.com/python-programming/datetime

How to format dates https://www.geeksforgeeks.org/how-to-format-date-using-strftime-in-python/

Practice dates https://campus.datacamp.com/courses/working-with-dates-and-times-in-python/dates-and-calendars?ex=1

# 6.&nbsp;Lists

Lists are used to store multiple items in a single variable.

More about lists https://www.w3schools.com/python/python_lists.asp

## List creation

In [ ]:
# Using list constructor
my_list1 = list((1, 2, 3))
print(my_list1)

[1, 2, 3]

In [ ]:
# create a list
our_list = ["a","b","c", 1, 1.5]
print('the type of our_list', type(our_list))
print(our_list)

the type of our_list <class 'list'>
['a', 'b', 'c', 1, 1.5]

## Append an element

In [ ]:
# append an element to the list

our_list.append("d") 
# it will append 'd' at the end of the list
print(our_list)

['a', 'b', 'c', 1, 1.5, 'd']

## Index and Slicing

The items in a list can be accessed through indexing and slicing. This section will guide you by accessing the list using the following two ways



*   **Using indexing**, we can access any item from a list using its index number
*   **Using slicing** , we can access a range of items from a list

Index

In [ ]:
# access element in the list

# list indexing starts a 0

# access first element in the list
our_list[0]

In [ ]:
# access last element in the list
our_list[-1]

In [ ]:
# negative index: the seconf element from the end of the list

our_list[-2]

In [ ]:
# access the 3rd element of the list

print(our_list)
our_list[2] # because our first index is 0

Slicing

In [ ]:
# the first 2 elements

print(our_list)
print(our_list[2])
our_list[2:]

['a', 'b', 'c', 1, 1.5, 'd']
c

['c', 1, 1.5, 'd']

In [ ]:
# Stating from 2nd item to last item ==> ['c', 1, 1.5, 'd']

print(our_list)
print(our_list[2:]) # not that here the lower limit is included

['First element', 'a', 'b', 'c', 1, 1.5, 'd', 'd', 'element', 'd']
['b', 'c', 1, 1.5, 'd', 'd', 'element', 'd']

In [ ]:
# access the sublist c to 1.5 ==> ['c', 1, 1.5]

print(our_list)
print(our_list[2])
print(our_list[4])

['a', 'b', 'c', 1, 1.5, 'd']
c
1.5

In [ ]:
our_list[2:4] # note that upper limit is not included

['c', 1]

In [ ]:
our_list[2:5] # we have to add +1 to upper limit if we want to include 1.5

['c', 1, 1.5]

##Length

In [ ]:
# length of the list
len(our_list)

## Insertions

In [ ]:
# insert an element in the list at 1st position

our_list.insert(0, "First element") # instert before 1st element
print(our_list)

['First element', 'a', 'b', 'c', 1, 1.5, 'd']

In [ ]:
# insert an element in the list before the last one

our_list.insert(-1,"element") # instert before last element
print(our_list)

['First element', 'a', 'b', 'c', 1, 1.5, 'd', 'd', 'element', 'd']

## Remove

In [ ]:
# remove element
our_list.remove("b")
print(our_list)

['c', 1, 1.5, 'd']

In [ ]:
# remove element by its index

our_list.pop(0)
print(our_list)

['b', 'c', 1, 1.5, 'd']

## Nested List

In [ ]:
# we can have nested lists

nested_list = [[1,2,3],6,7,5]
print(nested_list)

[[1, 2, 3], 6, 7, 5]

In [ ]:
# length of nested ==> the list within my_list [1, 2, 3] will be considered a single element
len(nested_list)

4

In [ ]:
# access 1st element of nested list
nested_list[0]

[1, 2, 3]

In [ ]:
# access 2nd element of nested list
nested_list[1]

6

In [ ]:
# access an element from a list within the nested list 2
nested_list[0][1]

2

More about lists https://pynative.com/python-lists/

## List Practice ***

In order to better understand how to work with lists, please try to write by yourself the code for the following tasks.

If you don't figure out how to do it, or you just want to check if you got the right solution, just click the arrow next to "Display Solution" and click on "Run button" to execute the code

### Assigment 1

In [ ]:
# Create a list called 'my_list' with elements 'John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30 and print it out

# you code here ...
# create a list
my_list1 = ["John","Emma",10, 5, 3, "Daniel", "Tom", 34, 30]
print(my_list1)

['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30]

In [ ]:
#@title Display the solution 1

my_list= ['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30]
print(my_list)

['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30]

### Assigment 2

In [ ]:
# Write a code to check how many element my_list have (the lengh of my_list)

# your code here ....
len(my_list1)

9

In [ ]:
#@title Display the solution 2

# how many elements my_list has ?

len(my_list)

11

### Assigment 3

In [ ]:
# append 'Bill' to the list and check now its length

my_list1.append('Bill')
print('My updated list is:',my_list1)
print('The length of my updsted list is:',len(my_list1))

My updated list is: ['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30, 'Bill']
The length of my updsted list is: 10

In [ ]:
#@title Display the solution 3

# append 'Bill' to the list and check now its length

my_list.append('Bill')
print('Now the modified my_list is: ', my_list)
print('The length of the modified list is: ', len(my_list))

Now the modified my_list is:  ['John', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30, 'Bill']
The length of the modified list is:  10

### Assigment 4

In [ ]:
# return the element 'John' from my_list

# your code here
print(my_list1[0])

John

In [ ]:
#@title Display the solution 4

# return 'John'
my_list[0]

'John'

### Assigment 5

In [ ]:
# return 'Bill'

# your code here 

print(my_list1[-1])

Bill

In [ ]:
#@title Display the solution 5

# return 'Bill'
my_list[-1]

'Bill'

### Assigment 6

In [ ]:
# return element 34 from my_list

# your code here ...
my_list[-4]

34

In [ ]:
#@title Display the solution 6

# return 34
my_list[-3]

30

### Assigment 7

In [ ]:
# return John and Emma

my_list[:2]

['John', 'Emma']

In [ ]:
#@title Display the solution 7

# return John and Emma
my_list[:2]

['John', 'Emma']

### Assigment 8

In [ ]:
# return Emma, 10, 5
my_list[1:4]

['Emma', 10, 5]

In [ ]:
#@title Display the solution 8

# return Emma, 10, 5
my_list[1:4]

['Emma', 10, 5]

### Assigment 9

In [ ]:
# return Tom, 34, 30, Bill

print(my_list[-4:])
my_list1[6:]

['Tom', 34, 30, 'Bill']

['Tom', 34, 30, 'Bill']

In [ ]:
#@title Display the solution 9

# return Tom, 34, 30, Bill

print(my_list[-4:])

#  OR

my_list[6:]

['Tom', 34, 30, 'Bill']

['Tom', 34, 30, 'Bill']

### Assigment 10

In [ ]:
# insert an element 'Julia' in the list at 2nd position
my_list1.insert(1,'Julia')
my_list1

['John', 'Julia', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30, 'Bill']

In [ ]:
#@title Display the solution 10

# insert an element 'Julia' in the list at 2nd position (*** or 1st position in Python logic ***)

my_list.insert(1, "Julia") # instert before 1st element
print(my_list)

['John', 'Julia', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30, 'Bill']

### Assigment 11

In [ ]:
# insert an element 'Anna" in the list before 30

# your code heremy_list1.insert(1,'Julia')
#my_list1.insert(-2,'Anna')
my_list1

['John', 'Julia', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 30, 'Bill']

In [ ]:
#@title Display the solution 11

# insert an element 'Anna" in the list before 30

my_list.insert(-2,"Anna") # instert before last element
print(my_list)

['John', 'Julia', 'Emma', 10, 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill']

### Assigment 12

In [ ]:
# remove element 'Emma' 
#  ==> 2 ways to remove it: 
# with .remove method (if you want tu use the value of the element) 
# or .pop method (using the index of the eelement)

#my_list.insert(2,'Emma')


my_list1.remove("Emma")
my_list1

['John', 'Julia', 10, 5, 3, 'Daniel', 'Tom', 34, 30, 'Bill']

In [ ]:
#@title Display the solution 12

# remove element 'Emma'
my_list.insert(2,"Emma")
my_list.remove("Emma")
print(my_list)

## OR 
my_list.insert(2,"Emma")
my_list.pop(2)
print(my_list)

['John', 'Julia', 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill', ['Sarah', 42, 'Jerry'], ['Sarah', 42, 'Jerry']]
['John', 'Julia', 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill', ['Sarah', 42, 'Jerry'], ['Sarah', 42, 'Jerry']]

### Assigment 13

In [ ]:
# append a new list [Sarah, 42, Jerry] ==> to obtain a nested list


my_list1

['John',
 'Julia',
 10,
 5,
 3,
 'Daniel',
 'Tom',
 34,
 30,
 'Bill',
 ['Sarah', 42, 'Jerry']]

In [ ]:
#@title Display the solution 13

my_list.append(['Sarah', 42, 'Jerry'])
print(my_list)

['John', 'Julia', 5, 3, 'Daniel', 'Tom', 34, 'Anna', 30, 'Bill', ['Sarah', 42, 'Jerry'], ['Sarah', 42, 'Jerry']]

### Assigment 14

In [ ]:
# return 'Sarah' (*** keep in mind that you have a nested list ***)

my_list1[10][0]

'Sarah'

In [ ]:
#@title Display the solution 14

# return 'Sarah'
my_list[-1][0]

'Sarah'

# 7.&nbsp;Strings

In [ ]:
string_a = 'text'
string_a

'text'

In [ ]:
string_b = 'This is a '
string_b

'This is a '

In [ ]:
string_b + string_a

'This is a text'

In [ ]:
string_c = string_b + string_a
string_c

'This is a text'

In [ ]:
string_c.lower()

'this is a text'

In [ ]:
string_c.upper()

'THIS IS A TEXT'

In [ ]:
# access a string
string_c[0]

'T'

In [ ]:
# length (the space is counted a 1)
len(string_c)

14

In [ ]:
# splitting strings
string_d = "Derrick.Matt@gmail.com"
print(string_d)

Derrick.Matt@gmail.com

In [ ]:
# Split a string into a list where each word is a list item, use split() function
# split by hyphen

print(string_d.split("@"))

['Derrick.Matt', 'gmail.com']

More about splitting strings https://www.w3schools.com/python/ref_string_split.asp

More about strings manipulations https://www.w3schools.com/python/python_ref_string.asp

More about string theory https://www.programiz.com/python-programming/string

## String Practice ***

### Assigment 1

In [ ]:
# create a string variable called "name", and assign the value 'AdaM Smith'
# modify this variable so all the characters of the string are in CAPITAL LETTERS
# return the modified variable


# your code here ...
name = "Adam Smith"
name = name.upper()
print(name)

ADAM SMITH

In [ ]:
#@title Display the solution 1

# create a string variable called "name", and assign the value 'AdaM Smith'
name = 'AdaM Smith'

# modify this variable so all the characters of the string are in CAPITAL LETTERS
name = name.upper()

# return the modified variable
print(name)

### Assigment 2

In [ ]:
# access a the 1st letter of variable "name" 
# ... the outcome should be 'A'

name[0]

'A'

In [ ]:
#@title Display the solution 2

# access a the 1st letter of variable "name"

name[0]

'A'

### Assignment 3

In [ ]:
# access a the last letter of variable "name" 
# ... the outcome should be 'H'

name[-1]

'H'

In [ ]:
#@title Display the solution 3

# access a the last letter of variable "name" 
# ... the outcome should be 'H'

name[-1]

### Assignment 4

In [ ]:
# how many characters tha variable "name" has ?

len(name)

10

In [ ]:
#@title Display the solution 4

# how many characters tha variable "name" has ?

len(name)

# 8.&nbsp;Tuples

A tuple is a collection which is ordered and unchangeable (imuatable)
.

In [ ]:
tuple_a = ('Dog', 'Cat', 'Frog')
print(tuple_a)

('Dog', 'Cat', 'Frog')

In [ ]:
# inmutable

# remove the hasgtag (#) in front of the below line code if you want to run the cell 
 tuple_a.append('Mouse')

IndentationError: ignored

In [ ]:
# ordered

tuple_a[0]

'Dog'

More about Tuples https://www.w3schools.com/python/python_tuples.asp

# 9.&nbsp;Dictionaries

Dictionaries are used to store data values in key:value pairs.

A dictionary is a collection which is ordered*, changeable and do not allow duplicates.

In [ ]:
# a dictionary is made of keys and values
# dictionary have curly brackets

dictionary = {"key_1":"value_0",
               "key_2":"value_2",
               "key_3":"value_3"}

dictionary

{'key_1': 'value_0', 'key_2': 'value_2', 'key_3': 'value_3'}

In [ ]:
# create a dictionary called 'our_dictionnary'

our_dictionary = {"name":"Derrick",
                  "height":"6'0",
                  "location":"Lost"}
                  
# here "name" is the key and 'Derrick' is the value
our_dictionary

{'name': 'Derrick', 'height': "6'0", 'location': 'Lost'}

In [ ]:
# access dictionary by key

print(dictionary["key_1"])

value_1

In [ ]:
# change a value by key

dictionary["key_1"] = "value_1"
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3'}

In [ ]:
# add an element to dictionary

dictionary["eye color"] = "blue"
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3', 'eye color': 'blue'}

In [ ]:
# remove element
dictionary.pop("eye color")
print(dictionary)

{'key_1': 'value_1', 'key_2': 'value_2', 'key_3': 'value_3'}

## Dictionary Practice ***

### Assignment 1

In [ ]:
# create a dictionary "my_dictionary"
# 1st key: 'names'
# values of 1st key: ['Anna', 'John', 'Matt']
# 2nd key: 'age'
# values of 2nd key: [23, 42, 12]
# print "my_dictionary"

My_dictionary = {'Names':['Anna','John','Matt'],'Age':[23,42,12]}
print(My_dictionary)

{'Names': ['Anna', 'John', 'Matt'], 'Age': [23, 42, 12]}

In [ ]:
#@title Display the solution 1

# create a dictionary "my_dictionary"
# 1st key: 'names'
# values of 1st key: ['Anna', 'John', 'Matt']
# 2nd key: 'age'
# values of 2nd key: [23, 42, 12]

my_dictionary = {'names': ['Anna', 'John', 'Matt'],
                 'age': [23, 42, 12]   
                }

# print "my_dictionary"
print(my_dictionary)

### Assignment 2

In [ ]:
# add a new element with their gender: key='gender', values: ['F', 'M', 'M']

My_dictionary['Gender']=['F', 'M', 'M']
print(My_dictionary)

{'Names': ['Anna', 'John', 'Matt'], 'Age': [23, 42, 12], 'Gender': ['F', 'M', 'M']}

In [ ]:
#@title Display the solution 2

# add a new element with their gender: key='gender', values: ['F', 'M', 'M']
my_dictionary['gender']= ['F', 'M', 'M']
print(my_dictionary)

### Assignment 3

In [ ]:
# remove key age


print(My_dictionary)

{'Names': ['Anna', 'John', 'Matt'], 'Gender': ['F', 'M', 'M']}

In [ ]:
#@title Display the solution 3

# remove key age
my_dictionary.pop("age")
print(my_dictionary)

# 10.&nbsp;DataFrame

The dataframe is like a table with 2 dimensions, where you have columns and rows

In [ ]:
dataframe = {"name":['Jess', 'Nick', 'Winston', 'Tom', 'Alex'],
              "age":['30', '35', '40', '27', '52'],
              "city":['Paris', 'Berlin', 'Madrid', 'Paris', 'London'],
             "country": ['France', 'Germany', 'Spain', 'France', 'UK']}

dataframe

{'name': ['Jess', 'Nick', 'Winston', 'Tom', 'Alex'],
 'age': ['30', '35', '40', '27', '52'],
 'city': ['Paris', 'Berlin', 'Madrid', 'Paris', 'London'],
 'country': ['France', 'Germany', 'Spain', 'France', 'UK']}

In [ ]:
# import pandas package

import pandas as pd

More about pandas package https://pandas.pydata.org/

In [ ]:
# create a dataframe

# load the the dictionary into a dataframe
df1 = pd.DataFrame(dataframe)

df1

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

In [ ]:
# visualize the first 3 rows of df

df1.head(3) # please note that the row index start at 0

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain

In [ ]:
# visualize the last 3 rows of df

df1.tail(3) # please note that the row index start at 0

      name age    city country
2  Winston  40  Madrid   Spain
3      Tom  27   Paris  France
4     Alex  52  London      UK

In [ ]:
# df dimensions

df1.shape # retunr nb of rows, and nb of columns

(5, 4)

In [ ]:
# nb of rows

df1.shape[0]

5

In [ ]:
len(df1)

In [ ]:
# nb. of columns
df1.shape[1]

4

In [ ]:
len(df1.columns)

In [ ]:
# get df columns

df1.columns

Index(['name', 'age', 'city', 'country'], dtype='object')

In [ ]:
# 1st column index: starts at 0

df1.columns[-1]

'country'

## Locations: .iloc & .loc

In [ ]:
# access values by column name

df1['age']

In [ ]:
# another way to get values of a column

df1.age

TO access values from dataframe we use **.iloc** and **.loc** attributes

**.iloc**

The pandas.DataFrame.iloc attribute is used to access elements from a pandas DataFrame using the integer position. 

The “.iloc” attribute allows inputs like an integer value, a list of integer values, and a slicing object with integers, and boolean array, etc.

The attribute will raise an “IndexError” if the requested index is out of bounds, except for the slicing indexer object.

iloc[row_position, column_position]

In [ ]:
print(df1)
print('')

# acces 1st row with .iloc
df1.iloc[0] # a sing argument

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

name         Jess
age            30
city        Paris
country    France
Name: 0, dtype: object

In [ ]:
print(df1)
print('')

# acces the last row with .iloc
df1.iloc[-1]

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

name         Alex
age            52
city       London
country        UK
Name: 4, dtype: object

In [ ]:
# accessing a single element by index with .iloc attribute

print(df1)
print('')
print('the 1st element of df is: ', df1.iloc[0, 0])

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

the 1st element of df is:  Jess

In [ ]:
# accessing the last element of the df
df1.iloc[-1,-1]

'UK'

In [ ]:
# return element with value 40

print(df1)
print('')
df1.iloc[2,1] # row index 2 and col index 1

      name age    city  country
0     Jess  30   Paris   France
1     Nick  35  Berlin  Germany
2  Winston  40  Madrid    Spain
3      Tom  27   Paris   France
4     Alex  52  London       UK

'40'

In [ ]:
# out of bounds index
# ... romove the hashtag (#) in front of the line with code if you want to run the cell...

# df1.iloc[12,2]

In [ ]:
print(df1)
print('')

# accessing a range of values by index
df1.iloc[:3, 1:3] # all elements till the 2nd row (not included) and columns from 1 to 3 (where 3 not included)

        age    city  country
name
Jess     30   Paris   France
Nick     35  Berlin  Germany
Winston  40  Madrid    Spain
Tom      27   Paris   France
Alex     52  London       UK

           city  country
name
Jess      Paris   France
Nick     Berlin  Germany
Winston  Madrid    Spain

**.loc**

The “.loc” is an attribute of the pandas.DataFrame. it is used to access elements from DataFrame based on row/column label indexing.

loc[row_label, column_label]

In [ ]:
# the rows have indices, but no labels

print(df1.shape)

df1

(5, 3)

        age    city  country
name
Jess     30   Paris   France
Nick     35  Berlin  Germany
Winston  40  Madrid    Spain
Tom      27   Paris   France
Alex     52  London       UK

In [ ]:
# reset the index of df, use the column name as index

df1 = df1.set_index('name')
print('the new shape of df1 is: ', df1.shape)
print('')
df1

KeyError: ignored

In [ ]:
# access an element by labels

print(df1)
print('')
print('The country of Nick is: ... ')
df1.loc['Nick', 'country']

        age    city  country
name
Jess     30   Paris   France
Nick     35  Berlin  Germany
Winston  40  Madrid    Spain
Tom      27   Paris   France
Alex     52  London       UK

The country of Nick is: ...

'Germany'

In [ ]:
# access a range of elements by labels
print(df1)
print('')
print('The countris of Nick and Winston is: ... ')
df1.loc['Nick':'Tom', 'country']

        age    city  country
name
Jess     30   Paris   France
Nick     35  Berlin  Germany
Winston  40  Madrid    Spain
Tom      27   Paris   France
Alex     52  London       UK

The countris of Nick and Winston is: ...

name
Nick       Germany
Winston      Spain
Tom         France
Name: country, dtype: object

In [ ]:
# the country of specific rows

df1.loc[['Alex', 'Nick'], 'country']

name
Alex         UK
Nick    Germany
Name: country, dtype: object

In [ ]:
# the country and city of specific rows

df1.loc[['Alex', 'Nick'], ['country', 'city']]

More about locations https://towardsdatascience.com/how-to-use-loc-and-iloc-for-selecting-data-in-pandas-bd09cb4c3d79

https://www.tutorialspoint.com/how-to-access-pandas-dataframe-elements-using-the-loc-attribute

https://www.tutorialspoint.com/how-to-access-pandas-dataframe-elements-using-the-iloc-attribute

## Filter

In [ ]:
df1

In [ ]:
# filter all data that are in Paris

df1[df1['city'] == 'Paris']

## Join dataframes

In [ ]:
dataframe_1 = {"prénom":['Matthew', 'Philippe'],
              "age":['32', '45'],
              "city":['London', 'London'],
               "pays": ['UK', 'UK']}

df2 = pd.DataFrame(dataframe_1)

df2.head()

     prénom age    city pays
0   Matthew  32  London   UK
1  Philippe  45  London   UK

In [ ]:
print(df2.columns)

In [ ]:
# change df columns names

df2.columns = ['name', 'age', 'city', 'country']
df2.head()

       name age    city country
0   Matthew  32  London      UK
1  Philippe  45  London      UK

In [ ]:
# compare both dfs column names

print('the column names of 1st df are: ', df1.columns)
print('the column names of 2nd df are: ', df2.columns)

the column names of 1st df are:  Index(['age', 'city', 'country'], dtype='object')
the column names of 2nd df are:  Index(['name', 'age', 'city', 'country'], dtype='object')

In [ ]:
# join the dfs into a single one

# concatenate all df into a single one
df = pd.concat([df1, df2]) # it will use the column names  to join by

# check dataframes shapes
print('the df1 Shape is : ', df1.shape)
print('the df2 Shape is : ', df2.shape)
print('the new joined Dataframe Shape is : ', df.shape)
print('')

# visualize the new df
print('')
print('The output is not what we really wanted as we have NaN values in columns and not all indices are the names...')
df

the df1 Shape is :  (5, 3)
the df2 Shape is :  (2, 4)
the new joined Dataframe Shape is :  (7, 4)


The output is not what we really wanted as we have NaN values in columns and not all indices are the names...

        age    city  country      name
Jess     30   Paris   France       NaN
Nick     35  Berlin  Germany       NaN
Winston  40  Madrid    Spain       NaN
Tom      27   Paris   France       NaN
Alex     52  London       UK       NaN
0        32  London       UK   Matthew
1        45  London       UK  Philippe

In [ ]:
# to be obtain a homogeneous df we need both dfs to be structured the same
# use name column as df index for df2 as df1 did

df2 = df2.set_index('name')
df2.head()

         age    city country
name
Matthew   32  London      UK
Philippe  45  London      UK

In [ ]:
# to reset the indices use .reste_index() method

df2.reset_index()

       name age    city country
0   Matthew  32  London      UK
1  Philippe  45  London      UK

In [ ]:
# join the dfs into a single one

# concatenate all df into a single one
df = pd.concat([df1, df2]) # it will use the column names  to join by

# check dataframes shapes
print('the df1 Shape is : ', df1.shape)
print('the df2 Shape is : ', df2.shape)
print('the new joined Dataframe Shape is : ', df.shape)
print('')

# visualize the new df
print('')
print('Now we have a homogeneous df')
df

the df1 Shape is :  (5, 3)
the df2 Shape is :  (2, 3)
the new joined Dataframe Shape is :  (7, 3)


Now we have a homogeneous df

         age    city  country
name
Jess      30   Paris   France
Nick      35  Berlin  Germany
Winston   40  Madrid    Spain
Tom       27   Paris   France
Alex      52  London       UK
Matthew   32  London       UK
Philippe  45  London       UK

## Add columns or rows

In [ ]:
# add region a column region where all the values will be 'Europe'

df['region'] = 'Europe'
df

         age    city  country  region
name
Jess      30   Paris   France  Europe
Nick      35  Berlin  Germany  Europe
Winston   40  Madrid    Spain  Europe
Tom       27   Paris   France  Europe
Alex      52  London       UK  Europe
Matthew   32  London       UK  Europe
Philippe  45  London       UK  Europe

In [ ]:
# add a column salary, with respective values
# please keep in mind that the length has to be the same

salary = ['40000', '45000', '50000', '55000', '60000', '65000', '70000'] # the list has to have the same nb of element as the nb of rows

print('the length of salary is: ', len(salary))
# if the length of salary is NOT the same as the nb of rows, python will give an error ...
print('')

df['salary']= salary

print(df.shape)
df

the length of salary is:  7

(7, 5)

         age    city  country  region salary
name
Jess      30   Paris   France  Europe  40000
Nick      35  Berlin  Germany  Europe  45000
Winston   40  Madrid    Spain  Europe  50000
Tom       27   Paris   France  Europe  55000
Alex      52  London       UK  Europe  60000
Matthew   32  London       UK  Europe  65000
Philippe  45  London       UK  Europe  70000

In [ ]:
# add a new row
df.loc['John']= [40, 'New York','USA', 'North America', '75000']
df

         age      city  country         region salary
name
Jess      30     Paris   France         Europe  40000
Nick      35    Berlin  Germany         Europe  45000
Winston   40    Madrid    Spain         Europe  50000
Tom       27     Paris   France         Europe  55000
Alex      52    London       UK         Europe  60000
Matthew   32    London       UK         Europe  65000
Philippe  45    London       UK         Europe  70000
John      40  New York      USA  North America  75000

## Modify the df

In [ ]:
# Philippe moved to Paris (==> 'city') in France (==> 'country') and we want to update the df

# modify the df with .loc method

df.loc['Philippe', ['city', 'country']] = ['Paris', 'France']
df

         age      city  country         region salary
name
Jess      30     Paris   France         Europe  40000
Nick      35    Berlin  Germany         Europe  45000
Winston   40    Madrid    Spain         Europe  50000
Tom       27     Paris   France         Europe  55000
Alex      52    London       UK         Europe  60000
Matthew   32    London       UK         Europe  65000
Philippe  45     Paris   France         Europe  70000
John      40  New York      USA  North America  75000

In [ ]:
# Philippe moved back to London, in UK and even got a promotion and we want to update the df

# modify df with .iloc method

# the row of 'Philipp' hase the index 6
# the indicies for 'city', 'country' and 'salary' columns are : 1, 2, 4 

df.iloc[6, [1, 2, 4]]= ['London', 'UK', '80000'] 

df

         age      city  country         region salary
name
Jess      30     Paris   France         Europe  40000
Nick      35    Berlin  Germany         Europe  45000
Winston   40    Madrid    Spain         Europe  50000
Tom       27     Paris   France         Europe  55000
Alex      52    London       UK         Europe  60000
Matthew   32    London       UK         Europe  65000
Philippe  45    London       UK         Europe  80000
John      40  New York      USA  North America  75000

## Explore df

In [ ]:
# general info of df
# have a closer look at the output...
# Dtype indicates you the data type containing in the columns
# have a closer look at Dtype of 'age' and 'city'

df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, Jess to John
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      8 non-null      object
 1   city     8 non-null      object
 2   country  8 non-null      object
 3   region   8 non-null      object
 4   salary   8 non-null      object
dtypes: object(5)
memory usage: 684.0+ bytes

In [ ]:
# salary and age are perceived as object dtype, but we want it as numeric

# convert column of a DataFrame
df["age"] = pd.to_numeric(df["age"])
df["salary"] = pd.to_numeric(df.salary)

# check again the general information of the df and see the difference
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, Jess to John
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   age      8 non-null      int64
 1   city     8 non-null      object
 2   country  8 non-null      object
 3   region   8 non-null      object
 4   salary   8 non-null      int64
dtypes: int64(2), object(3)
memory usage: 684.0+ bytes

In [ ]:
# use .describe() method to have an brief overview of general statisctics 

df.describe()

             age        salary
count   8.000000      8.000000
mean   37.625000  58750.000000
std     8.296944  14078.859532
min    27.000000  40000.000000
25%    31.500000  48750.000000
50%    37.500000  57500.000000
75%    41.250000  67500.000000
max    52.000000  80000.000000

In [ ]:
# distinct cities with method .unique()

df.city.unique()

array(['Paris', 'Berlin', 'Madrid', 'London', 'New York'], dtype=object)

In [ ]:
# number of distinct cities
len(df['city'].unique())

5

## Groupby

More about groupby method in pandas https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.groupby.html

In [ ]:
# check the mean age by city
df.groupby(by=["city"])['age'].mean()

city
Berlin      35.0
London      43.0
Madrid      40.0
New York    40.0
Paris       28.5
Name: age, dtype: float64

In [ ]:
# check the total salary by city
df.groupby(by=["city"])['salary'].sum()

city
Berlin       45000
London      205000
Madrid       50000
New York     75000
Paris        95000
Name: salary, dtype: int64

In [ ]:
# check how many city we have by country
df.groupby(by=["country"])['city'].count()

country
France     2
Germany    1
Spain      1
UK         3
USA        1
Name: city, dtype: int64

In [ ]:
# group by 2 variables

df.groupby(by=['region', "country"])['salary'].mean()

region         country
Europe         France     47500.000000
               Germany    45000.000000
               Spain      50000.000000
               UK         68333.333333
North America  USA        75000.000000
Name: salary, dtype: float64

## Pivot

Create a spreadsheet-style pivot table as a DataFrame.

The levels in the pivot table will be stored in MultiIndex objects (hierarchical indexes) on the index and columns of the result DataFrame

More about pivot function in python https://pandas.pydata.org/docs/reference/api/pandas.pivot_table.html

In [ ]:
# create a table that contains data about some packaging

# the Box can be of wood or paper
# in colors red or blue
# of size small or large
# with thier respective quantity and weight

table = pd.DataFrame({"Box": ["wood", "wood", "wood", "wood", "wood",
                         "paper", "paper", "paper", "paper"],
                   "Color": ["red", "red", "red", "blue", "blue",
                         "red", "red", "blue", "blue"],
                   "Size": ["small", "large", "large", "small",
                         "small", "large", "small", "small",
                         "large"],
                   "Qty": [1, 2, 2, 3, 3, 4, 5, 6, 7],
                   "Weigth": [2, 4, 5, 5, 6, 6, 8, 9, 9]})

print('the dataframe we will want to pivot..')
print('')
table

the dataframe we will want to pivot..

     Box Color   Size  Qty  Weigth
0   wood   red  small    1       2
1   wood   red  large    2       4
2   wood   red  large    2       5
3   wood  blue  small    3       5
4   wood  blue  small    3       6
5  paper   red  large    4       6
6  paper   red  small    5       8
7  paper  blue  small    6       9
8  paper  blue  large    7       9

In [ ]:
# import numpy module that help to work with numerical datatypes

import numpy as np

MOre about numpy package https://numpy.org/

In [ ]:
# pivot table dataframe, to get the sum of Qty by Box and Color (rows), and split by Size (columns)

pivot = pd.pivot_table(table, # data to pivot
                       values='Qty', # column to aggregate
                       index=['Box', 'Color'], # Grouper, Keys to group by on the pivot table index.
                       columns=['Size'], # Keys to group by on the pivot table column., will be the columns value
                       aggfunc= np.sum)# the aggregation function is the sum ==> np.sum (we will use sum function from numpy package)

pivot

Size         large  small
Box   Color
paper blue     7.0    6.0
      red      4.0    5.0
wood  blue     NaN    6.0
      red      4.0    1.0

## DataFrame Practice ***

### Assignment 1

In [ ]:
# create a variable called "data" with a dictionnary (*** with {} syntax ***) and print it out

# 1s key:value pair : 'Name':['Jai', 'Princi', 'Gaurav', 'Anuj']
# 2nd key:value pair : 'Age':[27, 24, 22, 32]
# 3rd key:value pair : 'Address':['Delhi', 'Kanpur', 'Kanpur', 'Delhi']
# 4th key:value pair : 'Country': ['India', 'India', 'India', 'India']
# 5th key;value pair : 'Qualification':['Phd', 'MA', 'MCA', 'Phd']

# your code here...

In [ ]:
#@title Display Solution 1

# Define a dictionary containing employee data
data = {'Name':['Jai', 'Princi', 'Gaurav', 'Anuj'],
        'Age':[27, 24, 22, 32],
        'Address':['Delhi', 'Kanpur', 'Kanpur', 'Delhi'],
        'Country': ['India', 'India', 'India', 'India'],
        'Qualification':['Phd', 'MA', 'MCA', 'Phd']}

data

### Assignment 2

In [ ]:
# create a dataframe 'df1' from dictionary "data"

# don't forget to import pandas package as pd 

import pandas as pd

# display the dataframe

# your code here ...

In [ ]:
#@title Display solution 2

import pandas as pd

# Convert the dictionary into DataFrame and call it df1
df1 = pd.DataFrame(data)

df1

### Assignment 3

In [ ]:
# display the first 2 rows of df1

# your code here

In [ ]:
#@title Display Solution 3

# display the first 2 rows of df1

df1.head(2)

### Assignment 4

In [ ]:
# display the last row of the df1

# your code here ...

In [ ]:
#@title Display Solution 4

df1.tail(1)

### Assignment 5

In [ ]:
# what are the dimensions of df1

# your code here...

In [ ]:
#@title Display Solution 5

# what are the dimensions of df1

df1.shape

### Assignment 6

In [ ]:
# how many rows the df1 have ?

# your code here...

In [ ]:
#@title Display Solution 6

# how many rows ?

print(len(df1))

# OR ...

df1.shape[0]

### Assignment 7

In [ ]:
# how many columns

# your code here ...

In [ ]:
#@title Display Solution 7

# how many columns

print(df1.shape[1])

# or 

len(df1.columns)

### Assignment 8

In [ ]:
# what are the names of the columns

# your code here ...

In [ ]:
#@title Display Solution 8

# what are the name of the columns

df1.columns

### Assignment 9

In [ ]:
# return the name of the second columns (the outcomu shoud be 'Age')

# your code here ...

In [ ]:
#@title Display Solution 9

# return the name of the second columns (in Python logic)

df1.columns[1]

### Locations & Slicing

### Assignment 10

In [ ]:
###  Locations -----------

# access the 2nd row (with .iloc) (in python logic)
# !!! don't forget the indexation starting from 0 !!!

# your code here ....

In [ ]:
#@title Display Solution 10

# access the 2nd row

print('the whole dataframe...')
print(df1)
print('')
print('the 2nd row...at index 1...')
df1.iloc[1]

### Assignment 11

In [ ]:
# return the data with .iloc as below..

'''
Age  Adress 
24   Kanpur
22   Kanpur
'''

# your code here...

In [ ]:
#@title Display Solution 11

# return the data with .iloc

'''
Age  Adress 
24   Kanpur
22   Kanpur
'''

df1.iloc[1:3, 1:3]

### Assignment 12

In [ ]:
# return the data with .iloc as below ...

'''
Name  Age 
Jay   27
Anuj  32
'''

# your code here...

In [ ]:
#@title Display Solution 12

# return the data with .iloc

'''
Name  Age 
Jay   27
Anuj  32
'''


df1.iloc[[0, -1], [0,1]]

### Assignment 13

In [ ]:
# return 'Qualification' for rows from 'Jai' to 'Anuj' with .loc 

# don't forget to reset the index by using column 'Name' (*** .set_index() ***)

# your code here...

In [ ]:
#@title Display Solution 13

# return qualification for 'Jai' to 'Anuj' with .loc (!!! reset the index)

print(df1)

print('')

# reset index
df1 = df1.set_index('Name')

# 'Qualification' for rows from 'Jai' to 'Anuj' with .loc 
df1.loc['Jai':'Anuj', 'Qualification']

### Assignment 14

In [ ]:
# return the Qualification and Address for 'Jai' , 'Anuj', 'Gaurav' with .loc

# your code here ...

In [ ]:
#@title Display Solution 14

# return the Qualification and Address for 'Jai' , 'Anuj', 'Gaurav' with .loc


df1.loc[['Jai' , 'Anuj', 'Gaurav'], ['Qualification', 'Address']]

### Filtering

## Assignment 15

In [ ]:
####  Filter -------------

# access only the data where Qualification is Phd

# your code here ...

In [ ]:
#@title Display Solution 15

# access only the data where Qualification is Phd


df1[df1['Qualification'] == 'Phd']

### Join dataframes

### Assignment 16

In [ ]:
#### Join dfs ---------

# create another dataframe df2

# Define a dictionary called 'data' containing employee information
data = {'Name':['Matt', 'Joe'],
        'Age':[65, 43 ],
        'Address':['Monge', 'Chatelet'],
        'Country' : ['France', 'France'],
        'Qualification':[ 'MCA', 'Phd']}
 
# Convert the dictionary into DataFrame and call it df2

# your code here ...

In [ ]:
#@title Display Solution 16

# Define a dictionary containing employee data
data = {'Name':['Matt', 'Joe'],
        'Age':[65, 43 ],
        'Address':['Monge', 'Chatelet'],
        'Country' : ['France', 'France'],
        'Qualification':[ 'MCA', 'Phd']}

# Load the data into DataFrame and call it df2
df2 = pd.DataFrame(data)

# visualize the new df2
df2

### Assignment 17

In [ ]:
# joinf df1 and df2 into a new dataframe df

# ...keep in mind that the 2 dataframes are not structured in the same manner
# ...for convinience, visualize the 2 df in diferent code cells, in order to compare them..

# ...first, you'll need to harmonise the dfs structure, so we reset the index of df2 (by specifying that column Name should be used as an index)

# your code here

In [ ]:
#@title Display Solution 17


# joinf df1 and df2 into a new dataframe df

# keep in mind that the 2 dataframes are not structured in the same manner
# df1 uses as index the column Name
# df2 don't use column Name as a index ==> .set_index('Name)

# ...for convinience, visualize the 2 df in diferent code cells, in order to compare them..

# first, we need to harmonise the dfs structure, so we reset the index of df2(by specifying that column Name should be used as an index)
df2 = df2.set_index('Name')

# now you're ready to join the 2 dfs
df = pd.concat([df1, df2]) # it will use the column names  to join by

df

### Assignment 18

In [ ]:
# check the dimension of the new joined df

# your code here

In [ ]:
#@title Display Solution 18

# check the dimension of the new joined df

df.shape

### Assignment 19

In [ ]:
#### Modify df2 ----------

# add a new row ['Calib', '34', 'Monge', 'France', 'Phd'] ==> (with .loc)
# check again the dimensions of the modified df

# your code here ...

In [ ]:
#@title Display Solution 19

# add a new row ['Calib', '34', 'Monge', 'Phd']

df.loc['Calib']= ['34', 'Monge', 'France', 'Phd']

# check again the dimensions of the modified df
print(df.shape)

df

### Assignment 20

In [ ]:
# Matt has changed the address from 'Monge' to 'LA Défense' or 'La Défense' 

# update the dataframe accordingly using  .iloc method for 'LA Défense' 
## ==> you'll need to locate the indices (numeric) where: row = 'Matt', and column='Address'
# visualize the output after update

# and using  .loc method for 'La Defense'
# visualize the output after update

# your code here...

In [ ]:
#@title Display Solution 20

# update the dataframe accordingly using  .iloc method for 'LA Defense'

df.iloc[4,1] = 'LA Defense'
# check if you got the wanted output
print(df)
print('')

# and using  .loc method for 'La Defense'
df.loc['Matt', 'Address']= 'La Defense'
# check if you got the wanted output
print(df)
print('')

### Explore df, convert columns Dtype

### Assignment 21

In [ ]:
#### Explore df ------------

# what data types are the columns ==> use .info() method
# convert Age into a numeric Dtype

# your code here

In [ ]:
#@title Display Solution 21

# general info of df ==> have a closer look at "Age" column ..

df.info()

In [ ]:
#@title Display Solution 21.1

# when executing df.info() you can see that the column 'Age' has a data type (Dtype) as 'object' (think of it as a string)

# if in the future we'll want to do some calculations with column 'Age' we need to to convert it to a numeric data type
# convert column of a DataFrame
df["Age"] = pd.to_numeric(df["Age"])

# check again the Dtypes
df.info()

### Groupby

### Assignment 22

In [ ]:
#### Groupby -----------

# what's the average age of people by Qualification  ==> use .groupby method

# your code here

In [ ]:
#@title Display Solution 22

#check the mean age by city
df.groupby(by=["Qualification"])['Age'].mean()

### Assignment 23

In [ ]:
#### Groupby -----------

# what's the average age of people that have the  'Qualification' == 'Phd' 
# you can do it in 2 steps...

# step 1

# first, you'll nedd to filter the data of those that have a 'Phd' and save it into a new dataframed called 'filtered'
# visualize the new df 'filtered'

# step 2

# then use .groupby method on the filter data

# your code here

In [ ]:
#@title Display Solution 23.1

filtered = df[df['Qualification']== 'Phd']
filtered

In [ ]:
#@title Display Solution 23.2

# step 2....

# use .groupby method on the filter data
filtered.groupby(by=["Qualification"])['Age'].mean()

### Pivot

### Assignment 24

In [ ]:
#### Pivot -----------

# create a pivot table called 'pivot_table'
#  where rows are the Adresses, 
#       columns their Qualifications, 
#                and values in the pivot table is the mean age

## hint
# first import numpy package as np as below

import numpy as np

# use pd.pivot_table() with necessary arguments

# your code here ...

In [ ]:
#@title Display Solution 24

pivot_table = pd.pivot_table(df, # data to pivot
                       # where rows are the Addresses and names
                       index=['Address'], # Grouper, Keys to group by on the pivot table index.
                       # columns their Qualification
                       columns='Qualification', # column to aggregate
                       # and values in the pivot table is the  age
                       values=['Age'], # Keys to group by on the pivot table column., will be the columns value
                       # and you want the avg of the value age (meaning the aggregation function ==> mean)
                       aggfunc=np.mean)# the aggregation function

pivot_table

### Assignment 25

In [ ]:
#### Pivot -----------

# create a pivot table called 'pivot_table'
#  where rows are the Country AND Address, 
#       columns their qualifications, 
#                and values in the pivot table is the mean age

## hint
# first import numpy package as np as below

import numpy as np

# use pd.pivot_table() with necessary arguments

# your code here ...

In [ ]:
df

In [ ]:
#@title Display Solution 25

pivot_table = pd.pivot_table(df, # data to pivot
                       # where rows are the qualifications and names
                       index=['Country', 'Address'], # Grouper, Keys to group by on the pivot table index.
                       # columns their Addresses
                       columns='Qualification', # column to aggregate
                       # and values in the pivot table is the  age
                       values=['Age'], # Keys to group by on the pivot table column., will be the columns value
                       # and you want the avg of the value age (meaning the aggregation function ==> mean)
                       aggfunc=np.mean)# the aggregation function

pivot_table

# 11 Loops

##  FOR

A **for** loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string).

With the FOR loop we can execute a set of statements, once for each item in a list, tuple, set etc

In [ ]:
# visualize code execution
# https://pythontutor.com/python-debugger.html

# create a list of groceries
groceries = ['Apple','Orange', 'Banana', 'Apple' ,'Kiwi', 'Apple']

groceries

the syntax of a 'for loop':


**for** element **in** list:   
 _____*do something *

It's like saying : for each element in the list, do something with it

In [ ]:
# iterate through list to access/print each element of the list
for item in groceries:
    print(item)

In [ ]:
# we can iterate with condition
# we want to iterate our list, and to print out only 'Apple'

# if element == 'Apple' then...
# print out the value of the element and message '==> This is an apple'
# else, print out the value of the element and the message '==> This is NOT an apple'

for fruit in groceries:
  if fruit == 'Apple':
      print(fruit, '== > This is an apple')
  else:
    print(fruit, '==> This is NOT an apple')

In [ ]:
# we can iterate with condition through numeric values

numbers = [-2, 4, -1, 8, 10]

# if element is positive then...
# devide each element in the list by 2
# else, print that this number is not positive

for number in numbers:
  if number > 0:
      print(number/2)
  else:
    print('this number is not positive')

In [ ]:
# we can iterate through a chain of strings

string = 'ilovepython'

# Python will think of this string as a list that contains the characters of the string...

for letter in string:
  print(letter)

In [ ]:
# iterate through a chain of strings and do something (with condition...)

vowels = ['a', 'e', 'i', 'o', 'u']

# iterate through the string 'ilovepython' and if the letter is a vowel then print it in CAPITALS with function upper()
for letter in string:
  if letter in vowels:
    print(letter.upper())
  else:
    print(letter)

Nested LIsts

In [ ]:
# iterate through nested lists

fruit_list = [['Apple', 4],['Orange', 2],['Banana', 6],['Kiwi', 5], ['Apple', 6], ['Apple', 12]]
fruit_list

In [ ]:
# access 1 element from the second item ("2")
fruit_list[1][1]

In [ ]:
# return 'Banana:

# fruit_list[???] # the element  ['Banana', 6]

fruit_list[2][0] # only the sub_element 'Banana'

In [ ]:
# iterate through a nested list
# here an element is a list, with 2 items each ==> the fruit and the quantity

for element in fruit_list:
    print(element)

In [ ]:
# iterate through a nested list
# and to access the quantity of each fruit (==> the fruite has index 0, and quntity has index 1)

for element in fruit_list:
    print(element[1])

In [ ]:
# iterate through a list with condition..

# we want to access only fruits that are Apple

# iterate the fruit_list
for sublist in fruit_list: # for each element from the fruit_list called "sublist"
  if sublist[0]== 'Apple': # if 1st element from the list (==> i.e index=0)
    print(sublist) # print the sublist

In [ ]:
# sometimes you'll need to access each element in a nested list and store them in a flat list (regular list) 

# iterate through nested lists
# accesst each element and store it as a flat list
# the expected output: ['Apple', 4, 'Orange', 2, 'Banana', 6, 'Kiwi', 5]

# create a copy of fruit_list called copy_list wtth copy() function

copy_list = fruit_list.copy()
print(copy_list)
print('')

In [ ]:
# first, create an empty list called 'flat list' , where we'll store all elements

flat_list = [] # empty list
print(flat_list)
print('')

In [ ]:
# we will iterate the list (copy_list), by accessing the sublist from this list
# we wil ieterate through the sublist, to access each item form the sublist

for sublist in copy_list: # iterate the sublists from the list
    print(sublist) # at each iteration print the sublist
    for item in sublist:   # then iterate through the sublist to acces each item in the sublist     
        flat_list.append(item) # the append the iterated item to the flat_list

print('')
print("the final flat_list will look like: ", flat_list )

## WHILE

With the while loop we can execute a set of statements as long as a condition is true

In [ ]:
# as long i is less then 10, print i

i = 1
while i < 10:
  print(i)
  i += 1 # increment by 1

In [ ]:
# exit when i gets to 4

i = 1
while i < 10:
  print(i)
  if i == 4:
    break
  i += 1

## Loops Practice ***

### FOR loops

You can use the following link visualize the code execution of the workflow
https://pythontutor.com/python-debugger.html

#### Assignment 1

In [ ]:
# Create a list "departments"

departments = ["Finance", "Human Ressources", "Finance", "Collection", "IT", 'Finance']

# write a code (using FOR loop),  to iterate through the list 'departments'

# ...steps ...
# create the list 'departments' 
# iterate through the list 'departments
# and print out each element called 'department' of this list

# your code here....

In [ ]:
#@title Display Solution 1

departments = ["Finance", "Human Ressources", "Finance", "Collection", "IT", 'Finance']

for department in departments:
  print(department)

#### Assignment 2

In [ ]:
# if the element "department" is 'Finance'... then...
# print out the value of this element but in CAPITALS (using the .upper() method) 

# your code here ...

In [ ]:
#@title Display Solution 2

for department in departments:
  if department == 'Finance':
    print(department.upper())

#### Assignment 3

In [ ]:
# iterate through nested lists ----

# create a nested list "departments_staff" 
# where you'd like to store data of departments name
# and the number of people in each department

departments_staff = [['Finance', 14],['IT', 4],['Human Ressources', 6],['Collection', 2], ['Finance', 6]]

# visualize the created list

In [ ]:
#@title Display Solution 3

# create a nested list "departments_staff"
departments_staff = [['Finance', 14],['IT', 4],['Human Ressources', 6],['Collection', 2], ['Finance', 6]]

# visualize the created list
departments_staff

#### Assignment 4

In [ ]:
# access to the element that concerns 'IT'
# and check out the number of persons in 'IT' department

# your code here...

In [ ]:
#@title Display Solution 4

print('The number of persons in IT department: ',  departments_staff[1][1])

#### Assignment 5

In [ ]:
# iterate through a list with condition..

# how many Bananas do we have in fruit_list ? 
# ...use FOR loop to access the sublist that have "Banana" in it ..

# your code here...

In [ ]:
#@title Display Solution 5

# iterate the fruit_list
for sublist in fruit_list: # for each element from the fruit_list called "sublist"
  if sublist[0]== 'Banana': # if 1st element from the list (==> i.e index=0)
    print(sublist[1]) # print the sublist

#### Assignment 6

In [ ]:
# create a copy of departments_staff called copy_list wtth copy() function

copy_list = departments_staff.copy()
print(copy_list)
print('')

# create an empty list where we'll store all elements and print it out

flat_list = [] # empty list

# iterate throught the nested list with FOR loop to access the sublists
# ....access the items from the sublist
# ....and then append this items to the flat_list

# visualise the obtained flat list

In [ ]:
#@title Display Solution 6

# creat an empty list where we'll store all elements
flat_list = [] # empty list
print(flat_list)
print('')

# iterate throught the nested list with FOR loop to access the sublists
for sublist in copy_list: # FOR loop to access the sublists
    for item in sublist: # ....access the items from the sublist
        flat_list.append(item) # ....and then append this items to the flat_list

# visualise the obtained flat list
flat_list

# 12.&nbsp;Functions

A function is a block of code which only runs when it is called.

You can pass data, known as parameters, into a function.

A function can return data as a result.

More about functions https://www.w3schools.com/python/python_functions.asp

In [ ]:
# create a function called operation
# the syntax of a function is the keyword def, name of the function, the parameters to use, and the action of the function

# write a function operation, when given the parameter x, would add + 2.6 to it, and then devided by 5.5
# store the output int a variable "result"
# and print out the output

def operation(x):
    result = (x + 2.6)/5.5
    print(round(result, 2))


# try your new function by giving values to arguments
operation(10)

**Body Mass Indicator ==> BMI**

In [ ]:
# compute body fat

height = 66.2 # in inches (devide cm by 2,54)
weight = 147.7 # in pounds (multiply kg by 2,205))

# CALCULATE YOUR BODY MASS INDEX (BMI)
bmi = round((weight/(height**2)  * 703), 2) # conversion factor of 703
bmi

In [ ]:
# create a function called bmi that would automatically compte the body fat 

# arguments needed to be passed during the function call : height and weight
# the function will remeber the order of the arguments=>=  1st: height, 2nd : weight

def bmi(height,weight):
  bmi= round((weight/(height**2)  * 703), 2) 
  print('your Body Mass Index is ', round(bmi, 2))

In [ ]:
# when will call the function "bmi"...
# in parathesis specify the arguments : height and weight with their respective values..


# try your new function by giving values to arguments
bmi(height=65,weight=140)

In [ ]:
# if we don't write the arguments name ....
# python will understand that 1st '60' is the height
# and 2nd '140' is the weight


# try your new function by giving values to arguments
bmi(65, 140)

**Body Fat Percentage (BFP) for women**

In [ ]:
# let's create a more specific function "bfp_women" ..
# where we'll return  the body fat percentage for women
# the formula to compute the the bfp for women : (<<coefficient>> * bmi) + (<<coefficient>> * age) - 5.4
# the metrics that are taken into account are the bmi and the age
# and the respective coefficients 1.20, 0.23 and - 5.4 use to assess the bfp for women

# write the function called 'bfp_women' with keyword def (from definition...)
def bfp_women(bmi, age): # give the argument of the function (here bmi and age)
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 5.4 # the formula of bfp
  print(body_fat_pct) # and ask to return the outcome of 'body_fat_pct'

# try your new function by giving values to arguments
bfp_women(bmi= 18.3, age = 30)

**BFP diagnos caclulator for women**

*To assess if the BFP is in the norms we will a calculater by writing a function called `bfp_women_diagnosis` that will do the diagnosis automatically for us*

Women diagnosis:

*For 20-40 yrs old range:*
>  

*   Underfat: under 21 %,
*   Healthy: 21-33 %
*   Overweight: 33-39 %
*   Obese: Over 39 %


*For 41-60 yrs old range:*

> 

* Underfat: under 23 %
* Healthy: 23-35 %
* Overweight : 35-40 %
* Obese: over 40 %


*For 61-79 yrs old range:*

> 

* Underfat: under 24 %
* Healthy: 24-36 %
* Overweight: 36-42%
* Obese: over 42 %

In [ ]:
def bfp_women_diagnosis(height, weight, age):
  bmi = (weight/(height**2) ) * 703
  body_fat_pct = round(((1.20 * bmi) + (0.23 * age) - 5.4),2)

# For the women within the range 20-40 y.o.
  if age <=40:
    # within the range 20-40 y.o. if body_fat_pct under 21
     if body_fat_pct < 21:
        print('your BFP is: ',  body_fat_pct, "you are underfat")
    # within the range 20-40 y.o. if body_fat_pct between 21 and 33
     elif body_fat_pct >= 21 and body_fat_pct < 33:
        print('your BFP is: ',  body_fat_pct, "you are healthy")
    # within the range 20-40 y.o. if body_fat_pct between 33 and 40
     elif body_fat_pct >= 33 and body_fat_pct < 40:
        print('your BFP is: ',  body_fat_pct, "you are overweight")
    # within the range 20-40 y.o. if body_fat_pct over 39
     else : 
        print('your BFP  is: ',  body_fat_pct, "you are obese")

# For the women within the range 41-60 y.o.
  if age > 40 and age <=60:
     if body_fat_pct < 23:
        print('your BFP is: ',  body_fat_pct, "you are underfat")
     elif body_fat_pct >= 23 and body_fat_pct < 35:
        print('your BFP is: ',  body_fat_pct, "you are healthy")
     elif body_fat_pct >= 35 and body_fat_pct < 40:
        print('your BFP is: ',  body_fat_pct, "you are overweight")
     else : 
        print('your BFP  is: ',  body_fat_pct, "you are obese")

# For the women within the range 60-79 y.o.
  if age > 60:
     if body_fat_pct < 24:
        print('your BFP is: ',  body_fat_pct, "you are underfat")
     elif body_fat_pct >= 24 and body_fat_pct < 36:
        print('your BFP  is: ',  body_fat_pct, "you are healthy")
     elif body_fat_pct >= 36 and body_fat_pct < 42:
        print('your BFP  is: ',  body_fat_pct, "you are healthy")
     else : 
        print('your BFP  is: ',  body_fat_pct, "you are obese")

In [ ]:
bfp_women_diagnosis(66.2, 147.7, 40)

**Body Fat Percentage for men**

In [ ]:
def bfp_men(height, weight, age):
  bmi  = (weight/(height**2) ) * 703
  body_fat_pct = (1.20 * bmi) + (0.23 * age) - 16.2
  print(round(body_fat_pct,2))

bfp_men(height= 69, weight= 170, age = 40)


Here are the standard metrics for **Men** diagnosis:

For 20-40 yrs old range : 

> 
* Underfat: under 8 %
* Healthy: 8-19 %
* Overweight: 19-25 %
* Obese: over 25%

For 41-60 yrs old range:

> 
* Underfat: under 11%
* Healthy: 11-22%
* Overweight: 22-27%
* Obese: over 27%

For 61-79 yrs old range:

> 
* Underfat: under 13%
* Healthy: 13-25%
* Overweight: 25-30%
* Obese: over 30%

## Function Practice ***

### Assignment 1

In [ ]:
# Write a function called "bfp_men_diagnosis" 
#  that would calculate the bfp for men and would do the diagnosis 
# please use use the stardard metrics specific to MEN from below

''' def bfp_men_diagnosis(height, weight, age):  
          bmi  = (weight/(height**2) ) * 703
          body_fat_pct = (1.20 * bmi) + (0.23 * age) - 16.2
          ... ---------...
          ... ---------...
          ....
'''

# try your new function "bfp_men_diagnosis"  by giving some values to function arguments 
# bfp_men_diagnosis(height = '...', weight = '...', age = '...') ==> it has to be in inches, pound

# ...your code here

In [ ]:
#@title Display Solution 1

def bfp_men_diagnosis(height, weight, age):
    bmi = (weight/(height**2) ) * 703
    body_fat_pct = round((1.20 * bmi) + (0.23 * age) - 16.2, 2)

   # For men within the range 20-40 y.o.
    if age <=40:
      # within the range 20-40 y.o. if body_fat_pct under 8
        if body_fat_pct < 8:
            print('your BFP is: ',  body_fat_pct, "you are underfat")
      # within the range 20-40 y.o. if body_fat_pct is between 8 and 19
        elif body_fat_pct >= 8 and body_fat_pct < 19:
            print('your BFP is: ',  body_fat_pct, "you are healthy")
        # within the range 20-40 y.o. if body_fat_pct is between 19 and 25
        elif body_fat_pct >= 19 and body_fat_pct < 25:
            print('your BFP is: ',  body_fat_pct, "you are overweight")
        # within the range 20-40 y.o. if body_fat_pct over 25
        else : 
            print('your BFP  is: ',  body_fat_pct, "you are obese")

  # For men within the range 41-60 y.o.
    if age > 40 and age <=60:
        if body_fat_pct < 11:
            print('your BFP is: ',  body_fat_pct, "you are underfat")
        elif body_fat_pct >= 11 and body_fat_pct < 22:
            print('your BFP is: ',  body_fat_pct, "you are healthy")
        elif body_fat_pct >= 22 and body_fat_pct < 27:
            print('your BFP is: ',  body_fat_pct, "you are overweight")
        else : 
            print('your BFP  is: ',  body_fat_pct, "you are obese")

    #  For men within the range 60-79 y.o.  
    if age > 60:
        if body_fat_pct < 13:
            print('your BFP is: ',  body_fat_pct, "you are underfat")
        elif body_fat_pct >= 13 and body_fat_pct < 25:
            print('your BFP  is: ',  body_fat_pct, "you are healthy")
        elif body_fat_pct >= 25 and body_fat_pct < 30:
            print('your BFP  is: ',  body_fat_pct, "you are healthy")
        else : 
            print('your BFP  is: ',  body_fat_pct, "you are obese")

# try your new function "bfp_men_diagnosis"  by giving some values to function arguments 
bfp_men_diagnosis(height = 76, weight = 160, age = 50)

### Assignment 2

In [ ]:
# Write a function **bfp_diagnosis()**
# that would calculate the bfp would do tha diagnosis, no matter women or men giving arguments (height= , weight= , age = , gender = )

# use the function that you created previously << bfp_men_diagnosis(height, weight, age) >> IF gender == 'M'
# use the function that you created previously << bfp_women_diagnosis(height, weight, age) >> if gender == 'F' (with 'ELIF'..)
# 'ELSE" ==> print('not specified')

# try your new function bfp_diagnosis() by giving vlues to arguments (height= , weight= , age = , gender = )

# your code here ...

In [ ]:
#@title Display Solution 6


def bfp_diagnosis(height, weight, age, gender):

    if gender == 'M':        # IF gender == 'M'
      # use the function that you created previously << bfp_men_diagnosis(height, weight, age) 
       print(bfp_men_diagnosis(height, weight, age))

    elif gender == 'F':    # if gender == 'F'

     # use the function that you created previously << bfp_women_diagnosis(height, weight, age) 
      print(bfp_women_diagnosis(height, weight, age))
      
    else:
      print('not specified')



# try your new function bfp_diagnosis() by giving vlues to arguments (height= , weight= , age = , gender = )
bfp_diagnosis(66.2, 147.7, 40, gender= 'F')